# Created by .ignore support plugin (hsz.mobi)
############################
#            OS            #
############################

### OS X ###

.DS_Store
.AppleDouble
.LSOverride
._*
logs/
logs*
*.log

### Linux ###

.Trash-*
*~
.directory



############################
#            IDE           #
############################

### Intellij IDEA ###

.idea/
*.iml
*.ipr
*.iws
/out/


### Eclipse ###

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.classpath
.project
.factorypath



############################
#   Language & framework   #
############################

### Java ###

*.class

*.jar
*.war
*.ear

hs_err_pid*


### Maven ###

target/
**/target/


### Python ###

__pycache__/
*.py[cod]
*$py.class

*.so

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
libs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

docs/_build/
/.springBeans


.mvn/